In [1]:
import pandas as pd
orders_df = pd.read_csv(r"D:\1 Univesrity work\Lect\Data  management\US Retail Sales and Public Holidays Analysis\DATA\RAW DATA\0_Order_merge_RAW.csv")

orders_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Sub-Category,Product Name,Sales,Quantity,Discount,Discount value,Profit,COGS,Shipping time range,Year sales
0,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,0.0000,14.1694,-34.6906,5,2014
1,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Art,Newell 322,7.280,4,0.0,0.0000,1.9656,-5.3144,5,2014
2,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,-181.4304,90.7152,-635.0064,5,2014
3,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,0.2,-3.7008,5.7825,-9.0207,5,2014
4,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.900,5,0.0,0.0000,34.4700,-80.4300,5,2014

In [2]:
print(orders_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row ID               9994 non-null   int64
 1   Order ID             9994 non-null   object
 2   Order Date           9994 non-null   object
 3   Ship Date            9994 non-null   object
 4   Ship Mode            9994 non-null   object
 5   Customer ID          9994 non-null   object
 6   Customer Name        9994 non-null   object
 7   Segment              9994 non-null   object
 8   Country              9994 non-null   object
 9   City                 9994 non-null   object
 10  State                9994 non-null   object
 11  Postal Code          9994 non-null   int64
 12  Region               9994 non-null   object
 13  Product ID           9994 non-null   object
 14  Category             9994 non-null   object
 15  Sub-Category         9994 non-null   object
 16  Product Name         9994 non-null   object
 17  Sales                9994 non-null   float64
 18  Quantity             9994 non-null   int64
 19  Discount             9994 non-null   float64
 20  Discount value       9994 non-null   float64
 21  Profit               9994 non-null   float64
 22  COGS                 9994 non-null   float64
 23  Shipping time range  9994 non-null   int64
 24  Year sales           9994 non-null   int64
dtypes: float64(5), int64(5), object(15)
memory usage: 1.9+ MB
None

In [3]:
print(orders_df.isnull().sum())

Row ID                 0
Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Postal Code            0
Region                 0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Sales                  0
Quantity               0
Discount               0
Discount value         0
Profit                 0
COGS                   0
Shipping time range    0
Year sales             0
dtype: int64

In [4]:
import pandas as pd
holidays_df = pd.read_csv(r"D:\1 Univesrity work\Lect\Data  management\US Retail Sales and Public Holidays Analysis\DATA\RAW DATA\holidays_api_raw.csv")

holidays_df.head()

         date                         name countryCode
0  2014-01-01               New Year's Day          US
1  2014-01-20  Martin Luther King, Jr. Day          US
2  2014-02-12           Lincoln's Birthday          US
3  2014-02-17               Presidents Day          US
4  2014-04-18                  Good Friday          US

In [5]:
print(holidays_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         60 non-null     object
 1   name         60 non-null     object
 2   countryCode  60 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB
None

In [6]:
print(holidays_df.isnull().sum())

date           0
name           0
countryCode    0
dtype: int64

In [ ]:
duplicate_orders = orders_df.duplicated()
print("Number of duplicate rows in orders:", duplicate_orders.sum())

Number of duplicate rows in orders: 0

In [ ]:
duplicate_holidays = holidays_df.duplicated(subset=['date'])
print("Number of duplicate holiday dates:", duplicate_holidays.sum())

Number of duplicate holiday dates: 8

In [9]:
holidays_df = holidays_df.drop_duplicates(subset=['date'])
print("After removing duplicates, holidays shape:", holidays_df.shape)

After removing duplicates, holidays shape: (52, 3)

In [10]:
# Find duplicate rows based on 'date'
duplicate_holidays = holidays_df[holidays_df.duplicated(subset=['date'], keep=False)]

# Show the duplicate rows
print("Duplicate holiday rows based on 'date':")
print(duplicate_holidays)

Duplicate holiday rows based on 'date':
Empty DataFrame
Columns: [date, name, countryCode]
Index: []

In [11]:
print(holidays_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 0 to 59
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         52 non-null     object
 1   name         52 non-null     object
 2   countryCode  52 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB
None

In [ ]:
import pandas as pd
from pathlib import Path

# Folder where we want to save CSVs ---
processed_dir = Path(r"D:\1 Univesrity work\Lect\Data  management\US Retail Sales and Public Holidays Analysis\DATA\processed")

orders_df.to_csv(processed_dir / "orders_clean.csv", index=False)
holidays_df.to_csv(processed_dir / "holidays_clean.csv", index=False)

print("Cleaned CSVs saved successfully!")

Cleaned CSVs saved successfully!